* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 1000px;
}

img {
  width: 100%;
  max-width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }
}





.filters-container {
  width: fit-content;
  margin: 100px auto 40px;
  display: flex;
  gap: 20px;
}

.filters-container button {
  border: none;
  background-color: transparent;
  color: #252525;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}

.filters-container button:hover,
.filters-container button.active {
  background-color: #1170ff;
  color: #fff;
}

.portfolio {
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
}

@media (max-width: 768px) {
  .portfolio {
    flex-direction: column;
    align-items: center;
  }
}

.portfolio .column {
  width: 33.3%;
  display: flex;
  flex-grow: 1;
  flex-basis: 30%;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 992px) {
  .portfolio .column {
    flex-basis: 45%;
  }
}

@media (max-width: 768px) {
  .portfolio .column {
    flex-basis: 50%;
    flex-grow: 1;
    width: 80%;
  }
}

@media (max-width: 500px) {
  .portfolio .column {
    width: 100%;
  }
}

.portfolio .img {
  position: relative;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.portfolio .img img {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.portfolio .img img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}